// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';


body {
  background: #e2ebf3;
}

.container {
  width: 100%;
  // margin: 20px auto;
}

.homeCont {
  // display: inline-block;
  margin: 70px;
  .calendar {
    width: 90%;
    display: inline-block;
    vertical-align: top;
  }
  .sidebar {
    width: 5%;
    display: inline-block;
  }
}
