// Put any @imports here
// See Readme for a list of supported ones
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome';

// Variables
  // purples from splash page
  $purple0: #EFEFFF;
  $purpleA: #272255;

  //palette 1
  // $sidebar: #A58AA9 --> 165 138 169 --> #A09EBE
  // $sidebar: #9CAAD3 --> 156 202 211 -->160 158 190
  $sidebar: #A09EBE;
  $notes: #B9B0CD;
  $border: #A9A69F;
  $backEvent: #BDB6A2;
  $background: #EDF1F9;
  // $background: #D1C8B6;
  // light green #F0F9D9

  $dark: #2A2B44;
  $grey: #677077;
  $light: #E6E6E6;
  // $yellow: #DF3F00;
  //original yellow: 
  $yellow: #f3b717;



// Mixins
  @mixin borders() {
    border: 1px solid $border;
    border-radius: 5px;
  }

body {
  background-color: #FAFAFA;

}

// the container angular puts everything in
.container {
  padding: 0;
  width: 100%;
  color: $purpleA;
}

.wrapper {
  padding: 0 75px;
}


// All sidebar lists
ul {
  list-style: none;
  padding-left: 0;
}

hr {
  border-top: 1px solid $purpleA;
}

// All buttons
button {
  @include borders();
  background-color: $background;
  margin: 5px;
  text-align: center;

  // WHY DOESN'T IT AFFECT THE WHOLE BACKGROUND??
  :hover {
    // background: #9583BF;
    // background-color: #B4A7D3;
    padding: 5px;
    color: $background;
  }
}

//All links
a {
  color: $purpleA;
  // font-weight: bold;
}


// All the forms on new Pages
.heading {
  text-align: center;
}

.newPage {
  @include borders();
  text-align: center;
  padding: 30px 0;
  width: 40%;
  margin: 20px auto;
  background-color: $background;

  label {
    font-size: 15px;
  }

  input {
    @include borders();
  }

  textarea {
    @include borders();
  }
}

.footnote {
  text-align: center;
  margin: 20px;
  a {
    font-weight: bold;
  }
}

  // $dark: #2A2B44;
  // $grey: #677077;
  // $light: #b5b5b7;
  // $yellow: #f2a632;


// User page
.userContainer {
  .calendar {
    width: 79%;
    display: inline-block;
    vertical-align: top;
    margin: 0 -150px 0 0;
    // position: relative;
  }
  .sidebar {
    @include borders();
    width: 25%;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    height: 650px;
    float: right;
    text-align: left;
    background-color: $dark;

    .userText {
      color: $yellow;
    }

    .topScroll {
      margin: 0;
      // height: ;
      // overflow: scroll;
    }

    .groupDiv {
      @include borders();
      background-color: white;
      padding: 0 10px;
      margin: 10px 0;
    }

    #groupList {
      padding-left: 15px;
      height: 65px;
      overflow: scroll;
    }

    .route-buttons {
      display: flex;
      justify-content: center;
      padding: 5px 0;
    }

    .myNotes {
      @include borders();
      margin: 10px 0;
      height: 335px;
      // overflow: scroll;
      padding: 0 10px;
      background-color: white;
      max-height: auto;
    }

    .eventScroll {
      border-radius: 5px;
      height: 298px;
      overflow: scroll;
    }
  }
}

// User event notes
.uEventNote {
  @include borders();
  background-color: $light;
  padding: 3px 10px 10px 10px;
  margin-bottom: 8px;
}
// End of User Page


.flex-mode {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


//GroupCalendar Page
.groupContainer{
  .calendar{
    width: 79%;
    display: inline-block;
    vertical-align: top;
    margin: 0 -150px 0 0;
  } 
  .sidebar {
    @include borders();
    width: 25%;
    padding: 0 20px 20px 20px;
    margin:0;
    float: right;
    text-align: left;
    height: 650px;
    background-color: $dark;
    // overflow: scroll;

    .groupTitle {
      color: $yellow;
    }

    #members {
      @include borders();
      background-color: white;
      padding: 0 10px;
    }

    .topScroll {
      height: 65px;
      overflow: scroll;
      padding-left: 15px;
      margin: 0;
    }

    .groupNotes {
      @include borders();
      height: 315px;
      // overflow: scroll;
      padding: 0 10px;
      background-color: white;
      max-height: auto;
      margin-bottom: 5px;
    }

    .eventScroll {
      height: 278px;
      overflow: scroll;
      border-radius: 5px;
    }

    .membership {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .btn{
        background-color: #EEEEEE;
      }
    }
  }
}

.event-btn {
  display: flex;
  justify-content: center;
}

// Group event notes
.gEventNote {
  @include borders();
  background-color: $light;
  padding: 3px 10px 10px 10px;
  margin-bottom: 8px;
}




//Delete 'Button'
.delete-div{
  width: 15px;
  height: 15px;
  display: inline-block;
  float: right;
}

.fc-unthemed .fc-today {
  background-color: #F1F1F1;
}


//  welcome to da sPlAsH pAgE 
// {o_o} I will be your guide~
.splashContainer {
  width: 100%;
  height: 700px;
  background-color: #57C2AF;
  font-family: 'Lato', sans-serif;

  .box {
      width: 100%;
      height: 600px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 0;
      .btnUl{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        padding-top: 200px;
        
    
          li{
            display: inline-block;
            
               .loginBtn, .signUpBtn{
                  width: 150px;
                  
                }
          }
      }
    }  
}
  .splashHeader{
    width: 100%;
    position: absolute;
    z-index: 2;
    right: 0;
    ul{
      display: inline-block;
      float: left;
      margin-left: 1em;
      li{
        display: inline-block;
        float: left;
        padding: 1em 1em 0  0;
        font-size: 1.3em;
        color: white;
           a{
            text-decoration: none;
            color: white;
            transition: .5s all ease;
         }
      }
      a:hover{
        color: black;
      }
    }
  }


    .logo{
      float: left;
      width: 70px;
      height: 70px;
      margin-left: 1em;
    }
  .mezCal{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    padding-top: 50px;
    margin: 0 auto;
    border: 6px solid #52C3AF;
    font-size: 3.6em;
    font-weight: bold;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    background-color: white;
    opacity: .7;
  }

  #contact{
    float: right;
    color: white;
    padding: 1em;
    font-size: 1.3em;
  }
  #mCsplashHeader{
    color: black;
    float: left;
    display: inline-block;
    font-weight: bold;
  }

  #mayan{
    width: 100%;
    height: 600px;
    background-image: url('https://waspnx.files.wordpress.com/2016/03/calendar.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3;
    position: absolute;
    z-index: -1;
  }
  #tagline{
    font-size: 3em;
    font-weight: bold;
    color: black;
  }

  .footer{
    width: 100%;
    background: #CBEDE7;
    opacity: .7;
    border-top: 2px solid black;
    border-bottom: 4px solid black;
      ul{
        width: 100%;
        margin: 0;
        padding-left:15em;
        li{
          width: 200px;
          height: 150px;
          display: inline-block;
          vertical-align: top;
          text-align: center;
          padding: 1em;
          margin: 0;
          background: #CBEDE7;
          color: black;
        }
      }
  }


@media only screen and (max-width : 450px) {
  .footer{
    ul{
      padding: 2em 7em 0 7em;
      li{

      }
    }
  }
}
//{o_0} End of Splash PaGe!

