// Put any @imports here
// See Readme for a list of supported ones
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome';

// Variables
  // purples from splash page
  $purple0: #EFEFFF;
  $purpleA: #272255;

  //palette 1
  // $sidebar: #A58AA9 --> 165 138 169 --> #A09EBE
  // $sidebar: #9CAAD3 --> 156 202 211 -->160 158 190
  $sidebar: #A09EBE;
  $notes: #B9B0CD;
  $border: #A9A69F;
  $backEvent: #BDB6A2;
  $background: #EDF1F9;
  // $background: #D1C8B6;
  // light green #F0F9D9

  $dark: #2A2B44;
  $grey: #677077;
  $light: #E6E6E6;
  $yellow: #f3b717;

// Mixins
  @mixin borders() {
    border: 1px solid $border;
    border-radius: 5px;
  }

body {
  // background-color: #FAFAFA;
}

// the container angular puts everything in
.container {
  padding: 0;
  width: 100%;
  color: $purpleA;
}

.wrapper {
  padding: 0 75px;
}


// All sidebar lists
ul {
  list-style: none;
  padding-left: 0;
}

hr {
  border-top: 1px solid $purpleA;
}

// All buttons
button {
  @include borders();
  background-color: $background;
  margin: 5px;
  text-align: center;

  // WHY DOESN'T IT AFFECT THE WHOLE BACKGROUND??
  :hover {
    // background: #9583BF;
    // background-color: #B4A7D3;
    padding: 5px;
    color: $background;
  }
}

//All links
a {
  color: $purpleA;
  // font-weight: bold;
}


// All the forms on new Pages
.heading {
  text-align: center;
}

.newPage {
  @include borders();
  text-align: center;
  padding: 30px 0;
  width: 40%;
  margin: 20px auto;
  background-color: $background;

  label {
    font-size: 15px;
  }

  input {
    @include borders();
  }

  textarea {
    @include borders();
  }
}

.footnote {
  text-align: center;
  margin: 20px;
  a {
    font-weight: bold;
  }
}

  // $dark: #2A2B44;
  // $grey: #677077;
  // $light: #b5b5b7;
  // $yellow: #f2a632;


// User page
.userContainer {
  .calendar {
    width: 79%;
    display: inline-block;
    vertical-align: top;
    margin: 0 -150px 0 0;
    // position: relative;
  }
  .sidebar {
    @include borders();
    width: 25%;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    height: 650px;
    float: right;
    text-align: left;
    background-color: $dark;

    .userText {
      color: $yellow;
    }

    .groupDiv {
      @include borders();
      background-color: white;
      padding: 0 10px;
      margin: 10px 0;
    }

    .groupList {
      padding-left: 15px;
      height: 70px;
      overflow: scroll;
    }

    .route-buttons {
      display: flex;
      justify-content: center;
      padding: 5px 0;
    }

    .myNotes {
      @include borders();
      margin: 10px 0;
      height: 340px;
      overflow: scroll;
      padding: 0 10px;
      background-color: white;
      max-height: auto;
    }

  }
}

// User event notes
.uEventNote {
  @include borders();
  background-color: $light;
  padding: 3px 10px 10px 10px;
  margin-bottom: 8px;
}


// End of User Page







//GroupCalendar Page
.groupContainer{
  .calendar{
    width: 79%;
    display: inline-block;
    vertical-align: top;
    margin: 0 -150px 0 0;
  } 
  .sidebar {
    @include borders();
    width: 25%;
    padding: 0 20px 20px 20px;
    margin:0;
    float: right;
    text-align: left;
    max-height: 650px;
    background-color: $sidebar;
    // overflow: scroll;

    .members {
      @include borders();
      background-color: $background;
      padding: 0 10px;
    }
    

    .memList {
      padding-left: 15px;
    }

    .groupNotes {
      @include borders();
      max-height: 300px;
      overflow: scroll;
      padding: 0 10px;
      background-color: $background;
      max-height: auto;
    }

    .membership {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .btn{
        background-color: $purple0;
      }
    }


  }
}

.event-btn {
  display: flex;
  justify-content: center;
}

// Group event notes
.gEventNote {
  @include borders();
  background-color: $notes;
  padding: 3px 10px 10px 10px;
  margin-bottom: 8px;
}




//Delete 'Button'
.delete-div{
  width: 15px;
  height: 15px;
  display: inline-block;
  float: right;
}



//  welcome to da sPlAsH pAgE 
// {o_o} I will be your guide~
.splashContainer {
  width: 100%;
  .background{
    height: 100%;
    width: 100%;
    background-color: #637094;
    position: fixed;
    z-index: -1;
  }
  .box-a{
    width: 50%;
    margin: 0 25%;
    display: inline-block;
    text-align: center;
    padding-bottom: 100px;
    position: fixed;
    top: 0;
    .buttonBox {
      width: 50%;
      display: inline-block;
      margin: 0 auto;
      text-align: center;
        .loginBtn, .signUpBtn{
          display: inline-block;
          width: 100px;
          box-shadow: 1px 1px 5px black;
      }
    }
  }  
}
//{o_0} End of Splash PaGe!

