<h4 class="heading">Join now!</h4>
<form class="newPage" ng-submit='addUser(user)'>
  <label>User Name: <br> <input ng-model="user.username"></label>
  <br>
  <br>
  <label>Email: <br> <input ng-model="user.email"></label>
  <br>
  <br>
  <label>Phone Number: <br> <input ng-model="user.phone"></label>
  <br>
  <br>
  <label>Password: <br> <input type="password" ng-model="user.password"></label>
  <br>
  <br>
  <button>Sign Up</button>
</form>
<div class="footnote">Already registered? <a href="/#/login">Log in!</a></div>