<div class="splashContainer">

	<div class="splashHeader">

		<ul>
			<li><p id="mCsplashHeader">mezCal.</p></li>
			<li><a href="https://github.com/Tiy-Basement">github repo</a></li>
			<li>how it works</li>
		</ul>

		<span id="contact">contact us</span>
	</div>

    <div class="box">

    	<div id="mayan"></div>


		<ul class="btnUl">
			<div class="mezCal"><span>mezCal.</span></div>
			<br>
			<p id="tagline"> The last calendar app you'll ever need.</p>
			<li><button class="loginBtn btn-default btn-lg" ng-click="vm.gotoLogin()">Login</button></li>
			<li><button class="signUpBtn btn-default btn-lg" ng-click="vm.gotoSignUp()">Sign Up</button></li>
		</ul>

    </div>

    <div class="footer">
    	<ul>
    		<li>Step 1: Schedule your time using a simple graphical calendar
    			<br>
    		<i class="fa fa-calendar fa-2x"></i>
    		</li>
    		<li>Step 2: Create groups and set a group's availability ex. kickball game thursday @ 7pm
    			<br>
    		<i class="fa fa-futbol-o fa-2x"></i>
    		</li>
    		<li>Step 3: See every group member's availability according to the color-coded time blocked off on the calendar.
    			<br>
    			<i class="fa fa-calendar-check-o fa-2x"></i>
    		</li>
    		<li>Step 4: Have a fiesta.
    			<br>
    			<br>
    			<i class="fa fa-beer fa-2x"></i>
    			<i class="fa fa-users fa-2x"></i>
    		</li>
    	</ul>
    	<img src=" "
    </footer>
  
</div>