<div class="splashContainer">

<div class="background"></div>
<div class="grid"></div>

    <div class="box">
      <img class="gorilla" src="https://waspnx.files.wordpress.com/2015/12/gorillaface2.png">

      <img class="title" src="https://waspnx.files.wordpress.com/2015/12/basement_51.png" ng-click="vm.gotoHome()">
      <br>
      <button class="loginBtn btn-default btn-lg" ng-click="vm.gotoLogin()">Login</button>

      <button class="signUpBtn btn-default btn-lg" ng-click="vm.gotoSignUp()">Sign Up</button>
    </div>
  
</div>