<div class="wrapper">
  <div class="groupContainer">

    <div class="calendar" ng-controller="CalendarController">
      <div  class="span8 calendar" ui-calendar='uiConfig.calendar' ng-model="groupSource"></div>
    </div>


    <aside class="sidebar">
      
      <!-- Member section -->
      <div class="members">
        <h5>Members</h5>
          <ul>
            <li ng-repeat='member in vm.members'><a href="">{{member.name}}</a></li>
            <li><a href="">A member</a></li>
            <li><a href="">A member</a></li>
            <li><a href="">A member</a></li>
          </ul>
      </div>

      <!-- Event notes -->
      <div class="notes">
        <h5>Upcoming Events</h5>
        <button class="btn btn-secondary btn-sm" ng-controller="GroupController" ng-click="routeToAdd()">Add Group Event</button>
        <!-- <h6><a href="#/add-event">Add a Group Event</a></h6> -->
        <!-- <h6><a href="#/delete-event">Delete a Group Event</a></h6> -->
        <ul>
          <li><a href="">An event note</a></li>
          <li><a href="">An event note</a></li>
          <li><a href="">An event note</a></li>
        </ul>
        <button ng-controller="GroupController" ng-click="routeToAdd()">Add Group Event</button>
       <button class="btn btn-default" ng-controller="GroupModalEventController" ng-click="open()">Add Event (M)</button>
      </div>

      <!-- Edit Membership -->
      <div class="membership">
        <button class="btn-small btn btn-secondary btn-sm" ng-click="vm.leaveGroup()">Leave Group</button>
        <br>
        <button class="btn-small btn btn-secondary btn-sm" ng-click="vm.toGroupEdit()">Edit Group</button>
        <br>
        <button class="btn-small btn btn-secondary btn-sm" ng-click="vm.deleteGroup()">Delete Group</button>
      </div>
    </aside>
  </div>
</div>
<!-- <a href="#/edit-group/:id"> -->