<div class="homeContainer">
  <div class="calendar" ng-controller="CalendarController">
    <div  class="span8 calendar" ui-calendar=uiConfig.calendar ng-model="eventSources"></div>
  </div>
  <aside class="sidebar">
    <form ng-submit="vm.deleteGroup(blah)">
    <button>the fuck button</button>
  </form>
    <div class="members">
      <h5>Members</h5>
      <h7><a href="#/add-member">Add a Member</a></h7>
      <ul>
        <li><a href="">A band</a></li>
        <li><a href="">A band</a></li>
        <li><a href="">A band</a></li>
        <li><a href="">A band</a></li>
      </ul>
    </div>
    <div class="Notes">
      <h5>Upcoming Events</h5>
      <h7><a href="#/add-event">Add an Event</a></h7>
      <ul>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
      </ul>
    </div>
  </aside>
</div>