<div class="homeContainer">
  <div class="calendar" ng-controller="CalendarController">
    <div  class="span8 calendar" ui-calendar=uiConfig.calendar ng-model="eventSources"></div>
  </div>
  <aside class="sidebar">
    <form ng-submit="vm.deleteGroup()">
      <button>Delete this Group</button>
    </form>
    <div class="members">
      <h5>Members</h5>
      <ul>
        <li><a href="">A member</a></li>
        <li><a href="">A member</a></li>
        <li><a href="">A member</a></li>
        <li><a href="">A member</a></li>
      </ul>
      <button><h6>Leave Group</h6></button>
      <h6><a href="#/edit-group">Edit Group</a></h6>
      <button ng-click="deleteGroup()"><h6>Delete Group</h6></button>
    </div>
    <div class="Notes">
      <h5>Upcoming Events</h5>
      <h6><a href="#/add-event">Add a Group Event</a></h6>
      <h6><a href="#/delete-event">Delete a Group Event</a></h6>
      <ul>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
      </ul>
    </div>
  </aside>
</div>