<div class="homeContainer">
  <button ng-click="logmeout()">Logout</button>
  <br>
  <div class="calendar" ng-controller="CalendarController">
    <div  class="span8 calendar" ui-calendar=uiConfig.calendar ng-model="eventSources"></div>
  </div>
  <aside class="sidebar">
    <div class="myBands">
      <h5>My Groups</h5>
      <h7><a href="#/add-group">Add a Group</a></h7> 
       <h6><a href="#/delete-group">delete group</a></h6>
      <ul>
        <li><a href="">A group</a></li>
        <li><a href="">A group</a></li>
        <li><a href="">A group</a></li>
        <li><a href="">A group</a></li>
      </ul>
    </div>
    <div class="myNotes">
      <h5>Upcoming Events</h5>
      <h7><a href="#/add-event">Add an Event</a></h7>
      <ul>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
      </ul>
    </div>
  </aside>
</div>