<div class="userContainer">
  <button ng-click="logmeout()">Logout</button>
  <br>
  <br>
  <div class="calendar" ng-controller="CalendarController">
    <div  class="span8 calendar" ui-calendar=uiConfig.calendar ng-model="eventSources"></div>
  </div>

  <aside class="sidebar">
    <div class="myGroups">

    <!-- USERNAME DIRECTIVE -->
      <user-name></user-name>
      <br>

      <h5>My Groups</h5>
      <ul>
       <!--  GROUP DIRECTIVE -->
        <group-item > </group-item>
      </ul>

      <h7><a href="#/add-group">Add a Group</a></h7>
      <br>
      <h7><a href="#/join-group">Join an Existing Group</a></h7>
      <br>
    </div>
    <hr>
    <div class="myNotes">
      <h5>Upcoming Events</h5>

      <h7><a href="#/add-event">Add an event</a></h7>
      <br>
      <h7><a href="#/delete-event">Delete an Event</a></h7> 

      <ul>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
        <li><a href="">An event note</a></li>
      </ul>
    </div>
  </aside>
</div>