<div class="wrapper">
  <div class="userContainer">
    <br>
    <br>
    <div class="calendar" ng-controller="CalendarController">
      <div  class="span8 calendar" ui-calendar=uiConfig.calendar ng-model="eventSources"></div>
    </div>


  <aside class="sidebar">
    <!-- <div class="sideTop"> -->
      <!-- welcome username -->
      <h4 class="userText">
        Welcome, {{vm.user.username}}!
      </h4>

      <div class="myGroups">

        <h5>My Groups</h5>
        <ul>
        <!-- user groups display -->
          <li ng-repeat="G in vm.groups" Group="G">
            <a href="#/group/{{G.id}}"> {{G.name}}</a>
          </li>
        </ul>

          <h7><a href="#/add-group">Create a Group</a></h7>
          <br>
          <h7><a href="#/join-group">Join an Existing Group</a></h7>
          <br>
        </div>

        <br>

        <div class="myNotes">
          <h5>Upcoming Events</h5>

          <ul>
            <li ng-repeat ='event in vm.userEvents'>
              <div class="uEventNote">
                <h5 class="noteTitle">{{event.title}}
                  <div 
                    class="delete-div" 
                    ng-click="vm.deleteEvent(event.id)"
                    uib-popover="Delete this Event"
                    popover-trigger="mouseenter"
                    >
                    <i class="fa fa-times"></i>
                  </div>
                </h5>
                <div class="noteCont">{{event.note}}</div>
              </div></li>
          </ul>
        </div>
      <!-- </div> -->

      <button class="btn btn-default eventBtn" ng-controller="UserEventController" ng-click="open()">Add Event</button>
    </aside>
  </div>
</div>